@{
    Layout = "~/Views/Shared/_LayoutTrainee.cshtml";
}
@if (TempData["IsMatched"] != null)
{
    if ((bool)TempData["IsMatched"] == true)
    {
        <div class="alert alert-success" role="alert">Successfully matched with trainer</div>
    }
    else if ((bool)TempData["IsMatched"] == false)
    {
        <div class="alert alert-danger" role="alert">Failed to match with trainer</div>
    }
}

<div class="col-md-6, text-center">
    @*  The info div starts below this line
        ONLY CERTAIN TRAINER PROPERTIES OF THE MODEL WILL WORK
        USER INFORMATION WILL NOT BE FILLED OUT           *@
    <div style="background-color:lightslategrey; border:1px solid black; padding: 8px; margin-bottom:10px; font-size:16px">
        <h3 style="text-align:center; text-decoration:underline">Trainer Profile</h3>
        <b>Rating:</b> @Model.Rating
        <br />

        <b>Location:</b> @Model.User_Location

        <br />

        <b>Price Per Hour:</b> @Model.Price_Per_Hour

        <br />

        <b>Certifications:</b> @Model.Certifications

        <br />

        <b>Exercise Philosophy:</b> @Model.exercise_Philosophy

        <br />

        <b>Bio:</b> @Model.Additional_notes

        <br />

        <b>Client Reviews:</b> @Model.Client_Success_Stories

        <br />

        <input type="button" class="btn btn-info" value="Register With Trainer" onclick="location.href='@Url.Action("MatchTrainer", "Trainee", new { id = Model.Trainer_ID })'" />
    </div>
</div>


